@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


.topo {
    width: 100%;
    height: 100px;
    font-size: 20px;
    color: aliceblue;
    margin-top: 25px;
    margin-left: 60px;
    font-family: 'Kdam Thmor Pro',sans-serif;
}

#comentarios {
    width: 50%;
    height: 450px;
    margin-left: 150px;
}

.logo-lateral {
    width: 50%;
    height: 350px;
    margin-top: 35px
}

.caixa-mae {
    display: flex;
}

h2 {
    width: 100%;
    color: aliceblue;
    margin-left: 150px;
    margin-bottom: 10px;
    font-family: 'Kdam Thmor Pro',sans-serif;
}

p {
    width: 100%;
    color: #d21617;
    margin-left: 200px;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: 'Kdam Thmor Pro',sans-serif;
}

@media (max-width: 768px) {
    #comentarios {
        width: 100%;
        margin-left: 15px;
    }

    .logo-lateral {
        display: none;
    }

    .topo {
        margin-left: 265px;
    }

    p {
        margin-left: 260px;
    }
}